openapi: 3.1.0
info:
  contact:
    email: support@flussonic.com
    name: Support team
  description: |
    ### Видеоаналитика

    Задача видеоаналитики - обнаружение в видеопотоке интересующих объектов
    (людей, лиц, автомобилей), их распознавание и идентификация

    Результат __детекции__ - координаты объекта в кадре, класс объекта (лицо, автомобильный номер, человек)  
    Результат __распознавания автомобильных номеров__ - текст, написанный на номере  
    Результат __распознавания лиц__ - фингерпринты (цифровые отпечатки), которые можно сравнивать между собой и вычислить степень схожести  
    Результат __идентификации лица__ - сопоставленные с лицом идентификаторы известных системе __персон__

    Под __персоной__ понимается собранные под некоторым идентификатором набор признаков, однозначно характеризующих одного человека.
    Сейчас это один или несколько фингерпринтов, полученных по фотографиям лица этого человека

    Видеоаналитика отслеживает перемещение объекта в кадре по результатам детекции и распознавания и формирует __эпизоды__


    ### Эпизоды

    Один __эпизод__ характеризует непрерывное нахождение одного объекта в кадре и описывается атрибутами   
    __время начала__ - когда объект появлися в кадре,  
    __время окончания__ - когда объект пропал из кадра,  
    __данные детекции__ - класс объекта, степень уверенности, ключевые точки, координаты в кадре и т.д.  
    __данные распознавания__ - строка с номером автомобиля, фингерпринт для лиц  
    __данные идентификации__ - сопоставленные с распознанным лицом эпизода известные системе персоны ("в кадре появился сотрудник #1234")

    Жизненный цикл __эпизода__, аналогично сессиям флюссоника, определяется тремя состояниями: "создан", "подтвержден", "закрыт".  
    __создан__ - новый объект только появился в кадре, но еще нет уверенности, что детекция не была ложной  
    __подтвержден__ - достаточная уверенность детекции объекта (обычно - уверенная детекция и распознавание на последовательности кадров)  
    __закрыт__ - объект больше не находится в кадре и отслеживание его непрерывного нахождения прекращено

    В атрибутах эпизода фиксируется время его создания, подтверждения, закрытия и таймстемп последнего обновления


    ### Предлагаемая схема взаимодействия

    Видеоаналитика проектируется как два отдельных компонента: компонент аналитики и компонент идентификации.
    Каждый компонент предоставляется отдельным пакетом и может работать в виде нескольких инстансов.  

    у __central__ есть знание о том, какой стрим на каком стримере захватывается  
    __серверы аналитики__ забирают из __central__ конфигурацию источников стримов, для которых требуется аналитика (адреса)  
    возможно, стоит рассмотреть вариант конфигурации через external config, уже используемый стримерами
  
    __central__ забирает от __серверов аналитики__ сформированные _эпизоды_, используя http api  
    __сервисы идентификации__ забирают из __central__ эпизоды для обогащения идентифкационными данными  
    __central__ забирает от __сервисов идентификации__ дообогащенные эпизоды  
    __vms__ забирает из __central__ дообогащенные эпизоды, для того, чтобы хранить, показывать, уведомлять пользователей и подобное

    __vms__ предоставляет пользователям интерфейс изменения базы персон  
    __vms__ передает обновления базы персон в __central__, используя его api  
    __сервисы идентификации__ периодически забирают из __central__ изменения базы персон и применяют их к своему состоянию  


    ### Компонент аналитики, vision.yml

    задачи:  
      захват и декодирование стримов,  
      детектирование и распознавание объектов в декодированных кадрах,  
      формирование эпизодов из данных детекций и распознавания (трекинг)

    не имеет персистентного состояния,  
    конфигурируется адресами откуда забирать видеопотоки и какое оборудование (процессор, видеокарты) использовать для вычислений

    отдает наружу сформированные эпизоды через http api


    ### Компонент идентификации (сервис идентификации), identification.yml

    задачи:  
      дообогащает эпизоды данными идентификации (сопоставленными персонами из базы)  

    состояние - база данных персон
    конфигурирется адресом, откуда нужно забирать эпизоды и адресом базы данных персон

    получает на вход эпизоды, в которых необходимо идентифицировать объекты (лица)  
    отдает наружу дообогащенные эпизоды через http api


    ### API

    http api списка эпизодов предоставляет фильтр по таймстемпу последнего изменения (`?updated_at_gt=1637094994`)
    для того, чтобы получать только необходимые изменения, не вытягивая все данные базы

    При запросе с хедером `Accept: application/x-ndjson` сервер оставит соединение открытым и,
    после отправки всех соответствующих фильтру эпизодов, будет досылать в открытое соединение
    все новые и измененяющиеся эпизоды (в виде newline delimited json)

    api списка персон также расчитано на получение персон, измененных после заданного параметром запроса таймстемпа

    http api эпизодов предлагается унифицировать у __central__, сервиса идентификации и аналитики, чтобы иметь возможность:
    1. предоставить одинаковое api эпизодов для серверной видеоаналитики и для видеоаналитики на edge устройствах (камеры, регистраторы)
    1. в простых инсталляциях конфигурировать сервис идентификации забирать эпизоды напрямую от сервера аналитики,
    а vms - забирать дообогащенные эпизоды из сервиса идентификации



  title: Flussonic Vision API
  version: 22.01.1

components:
  schemas:
    $ref: ./components/schemas.yml
  securitySchemes:
    basicAuth:
      scheme: basic
      type: http
    bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http

paths:
  /config:
    $ref: './paths/config_vision.yml'
  /process:
    $ref: ./paths/process.yml
  /episodes:
    $ref: './paths/episodes.yml'
  /stats:
    $ref: './paths/stats.yml'
  /monitoring/metrics:
    $ref: './paths/vision_metrics.yml'
  /monitoring/liveness:
    $ref: './paths/liveness.yml'

security:
- basicAuth: []
- bearerAuth: []
tags:
- name: config
  description: Service configuration
- name: process
  description: Image analytics
- name: episodes
  description: Episodes
- name: monitoring
  description: Server metrics and status
- name: environment
  description: |
    Environment variables  
    **This is not an actual HTTP method** and only used to describe available env variables used for configuration

servers:
  - description: your local installation
    url: https://api3.flussonic.cloud/vision/api/v3
